.header-region {
 display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #bc2b54;
  color: #fff;
  padding: 0;

  width: 100%;

  button{
      background-color: transparent;
      border-style: none; 
  }
  .page-title{
  text-align: center;
  }

  span {
      font-size: 12px;
      align-self: center;
  }

  .text{
      display: flex;
      align-items: center;
  }

  h4{
      font-size: 15px;
      text-align: center;
  }

  @media (max-width: 480px) {
      h4{
          padding-right: 73px;
      }
    
 }


 




 

 


}

.content {
    display: flex;
    gap: 5px;
    padding-right: 40px;
    justify-content: center;
    background-color:#bc2b54;
    padding-top: 0;
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 18%;
    flex-direction: column;
    padding-bottom: 40px;
    
  z-index: 100;
  width: 100%;

  .intros{
      align-self: flex-end;
      display: flex;
      flex-direction: column;
  }

  .introos{
      display: flex;
      gap: 5px;
      padding-right: 100px;
  }
   .tiitle{
    font-size: 35px;
     margin-top: 0;
     margin-bottom: 4px;
     padding-right: 150px;
     padding-top: 50px;
    text-align: end;
    align-self: flex-end;
   }
 



 .aboutc{
     font-size: 19px;
     align-self: center;
     margin: 0;
  }

 .aboutReg{
     color: black;
     font-size: 15px;
     align-self: center;
     font-weight: 600;
     margin: 0;
 } 
}



.heading {
    background-color:#fd1c72;
    color: #fff;
    font-size: 16px;
    padding-bottom: 0;
    
   
}

.regions-list {
    background-color: #bc2b54;

    p {
        margin-top: 0;
    }
}

.region {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;

    h11{
        margin: 0;
        color: white;
        font-size: 20px;
        font-weight: 0;
    }

    h12 {
        margin: 0;
        color: white;
        font-size: 16px;
        font-weight: 0;
    }
}

.region:nth-child(odd){
    background-color:#bc2b54;
}
.region:nth-child(even){
    background-color:#d95077;
}

.regionWrap {
    position: fixed;
    z-index: 100;
    width: 100%;

}

.containerr {
    padding-top: 290px;
}

